<div class="profileSelection">
	<table class="table table-striped table-hover table-condensed table-hover">
		<thead>
			<tr>
				<th class="profileTable_name">Name</th>
				<th class="profileTable_fast">Fast</th>
				<th class="profileTable_medium">Medium</th>
				<th class="profileTable_slow">Slow</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: curaProfiles">
			<td class="settings_profileTable_name" data-bind="text: displayName"> </td>
			<td><a href="#" class="icon-star" data-bind="click: $parent.setProfileFast"></a></td>
			<td><a href="#" class="icon-star" data-bind="click: $parent.setProfileMedium"></a></td>
			<td><a href="#" class="icon-star" data-bind="click: $parent.setProfileSlow"></a></td>
		</tbody>
	</table>
</div>