<div id="profileSelection">
	<div><label for="fast"><input type="radio" name="quality" value="0" id="fast" data-bind="click: selectProfileFast">Fast</label></div>
	<div><label for="medium"><input type="radio" name="quality" value="1" id="medium" data-bind="click: selectProfileMedium">Medium</label></div>
	<div><label for="slow"><input type="radio" name="quality" value="2" id="slow" data-bind="click: selectProfileSlow">Slow</label></div>
</div>