<div id="profileSelection">
	<label style="font-weight: bold;" for="fast"><input type="radio" id="fast" name="quality" value="0" data-bind="click: selectProfileFast">Fast</label>
	<label for="medium"><input type="radio" id="medium" name="quality" value="1" data-bind="click: selectProfileMedium">Medium</label>
	<label for="slow"><input type="radio" id="slow" name="quality" value="2" data-bind="click: selectProfileSlow">Slow</label>
</div>